-# copy
.columns
  .column.is-8
    %h1.title.is-2.discussion-title
      =@discussion.title
    %h3.subtitle.is-5.has-text-grey-lighter
      by #{@discussion.user.username} in #{link_to @discussion.channel.name, @discussion.channel}
    .content
      = markdown(@discussion.content)
    .level
      .level-left
        -#  check profile so that only author of discussion can edit or remove
      - if discussion_author(@discussion)
        .buttons
          =link_to 'Edit Discussion', edit_discussion_path(@discussion), class:'button'
          = link_to 'Delete', discussion_path(@discussion), method: :delete, data: {confimr: "Are you sure"}
      .level-right
        %h2.subtitle.is-5
          =@discussion.replies.count
          Replies
    #discussion-replies
      = render @discussion.replies
    %h3.subtitle.is-3 leave a reply
    -if user_signed_in?
      = render 'replies/form'
    -else
      %p To reply you need to
      = link_to 'login', new_user_session_path
      or
      =link_to 'Sign up', new_user_registration_path
  = render 'sidebar'
